extends ../theme/layout.pug

block tagline
  span Heads-up #{from.nickname} can't make it
  
block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{to.nickname},
  p #{from.name} can't make it to your activity. 
  if message
    p saying: #{message.body}
  p You can contact #{from.pronoun.object} at #{from.email}
  p Ngā mihi, Voluntarily.nz
   
block copybutton
  a(href=op.href class='mobile-button') Opportunity
  span &nbsp; 
  a(href=from.href class='mobile-button') #{from.nickname}
             
