extends ../theme/layout.pug

block tagline
  span Message from #{from.nickname} 

block copy
  p Kia ora #{to.nickname},
  p #{from.name} sent you a message
  if message
    p saying: #{message.body}
  p You can contact #{from.pronoun.object} at #{from.email} or review all messages on your activity page
  p Ngā mihi, Voluntarily.nz
   
block copybutton
  a(href=op.href class='mobile-button') Activity
  span &nbsp; 
  a(href=from.href class='mobile-button') #{from.nickname}
             
