//- expects locals of {
//-   to: person receiving email
//-   from: person sending email - the op requestor
//-   op: the opportunity
//- }
extends ../theme/layout.pug

block tagline
  span Help make a difference
  
block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{to.nickname},
  p On behalf of #{from.name} and the Voluntarily team, we would like to thank you for expressing interest in this opportunity.
  p Your contribution is super valuable to us. We will process your interest and be in touch shortly.
  p In the mean time you can get prepared for volunteering by working through the queued activities on your profile
  p Ngā mihi, Voluntarily.nz

block copybutton
  a(href=op.href class='mobile-button') Opportunity
  span &nbsp; 
  a(href=to.href class='mobile-button') Profile
   
block copyimage
  img(src=op.imgUrl alt=op.name width="100%" )
                                 
                         
