extends ../theme/layout.pug

block tagline
  span Help make a difference
  
block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{person.nickname},
  p On behalf of #{me.name} and the Voluntarily team, we would like to thank you for expressing interest in this opportunity.
  p Your contribution is super valuable to us. We will process your interest and be in touch shortly.
  p In the mean time you can get prepared for volunteering by working through the queued activities on your profile
  

block copybutton
  a(href=person.href class='mobile-button') My Profile
  span &nbsp; 
  a(href=op.href class='mobile-button') My Opportunity
   
                         
