//- expects locals of {
//-   to: person receiving email
//-   from: person sending email - the op requestor
//-   op: the opportunity
//- }
extends ../theme/layout.pug

block tagline
  span #{from.name} can't make it
block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{to.nickname},
  p #{from.name} can't make it to your activity.
    if message
    p saying: #{message.body}
  p We will move #{from.pronoun.object} back to the interested list 
  p Ngā mihi, Voluntarily.nz

block copybutton
  a(href=op.href class='mobile-button') Opportunity
  span &nbsp; 
  a(href=to.href class='mobile-button') Profile
   
block copyimage
  img(src=op.imgUrl alt=op.name width="100%" )
                                 
                         
