//- expects locals of {
//-   to: person receiving email
//-   from: person sending email - the orgAdmin
//-   org: The organisation (with added href linkback)
//-   adminMsg: text added by the orgAdmin
//-   buttonLabel: label for callback button
//-   buttonHref: the callback button url
//- }
extends ../theme/layout.pug

block tagline
  span Confirm your membership
  
block copybig
  a( href=org.href) #{org.name} 

block copy
  p Kia ora,
  p #{from.name} is asking to automatically join you to the #{org.name} organisation on the Voluntarily platform
  p #{adminMsg}
  p Click the button below to sign into Voluntarily.NZ and confirm membership of #{org.name}
    
block copybutton
  a(href=buttonHref class='mobile-button') #{buttonLabel}
   
block copyimage
  img(src=org.imgUrl alt=org.name width="100%" )
                                 
                         
