extends ../theme/layout.pug

block tagline
  span Things are growing

block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{to.nickname},
  p #{from.name} just committed to your opportunity.
  p Remember to keep visiting your management page to review new interested people.

block copybutton
  a(href=op.href class='mobile-button') Opportunity
  span &nbsp; 
  a(href=to.href class='mobile-button') Profile
   