extends ../theme/layout.pug
block tagline
  span There's some interest
  
block copybig
  a( href=op.href) #{op.name} 

block copy
  p Kia ora #{to.nickname},
  p #{from.name} is interested in #{op.name}.
  if message
    p saying: #{message.body}
  p Review them on the activity page and send them an invite if they match your requirements.
  p Ngā mihi, Voluntarily.nz

block copybutton
  a(href=op.href class='mobile-button') Activity
  span &nbsp; 
  a(href=to.href class='mobile-button') Profile
